/*
Theme Name: Pique
Theme URI: https://wordpress.com/themes/pique/
Description: A one-page scrolling theme for small businesses.
Version: 1.2.8
Author: Automattic
Author URI: http://wordpress.com/themes/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: pique
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;

	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button,
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a {
	overflow: visible;
}

button,
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a,
select {
	text-transform: none;
}

button,
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;

	-webkit-appearance: button;
}

button[disabled],
.archive .read-more a[disabled],
.blog .read-more a[disabled],
.search-results .read-more a[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
.archive .read-more a::-moz-focus-inner,
.blog .read-more a::-moz-focus-inner,
.search-results .read-more a::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input[type='search'] {
	-webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a,
input,
select,
textarea {
	color: #726b60;
	font-family: Lora, Georgia, serif;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
}

h1,
h2,
h3,
blockquote cite,
.pique-template-testimonials .pique-testimonials article .entry-content cite,
.site-branding .site-title,
.widget-title,
h4,
h5,
h6 {
	clear: both;
	color: #83b6cc;
	font-family: Karla, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.2;
}
h1 a:hover,
h1 a:focus,
h1 a:active,
h2 a:hover,
h2 a:focus,
h2 a:active,
h3 a:hover,
blockquote cite a:hover,
.pique-template-testimonials .pique-testimonials article .entry-content cite a:hover,
.site-branding .site-title a:hover,
.widget-title a:hover,
h3 a:focus,
blockquote cite a:focus,
.pique-template-testimonials .pique-testimonials article .entry-content cite a:focus,
.site-branding .site-title a:focus,
.widget-title a:focus,
h3 a:active,
blockquote cite a:active,
.pique-template-testimonials .pique-testimonials article .entry-content cite a:active,
.site-branding .site-title a:active,
.widget-title a:active,
h4 a:hover,
h4 a:focus,
h4 a:active,
h5 a:hover,
h5 a:focus,
h5 a:active,
h6 a:hover,
h6 a:focus,
h6 a:active {
	border-bottom: none;
}

h1 {
	font-family: Lora, Georgia, serif;
	font-size: 38.4px;
	font-size: 2.4rem;
	font-style: italic;
}

h2 {
	font-size: 25.6px;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3,
blockquote cite,
.pique-template-testimonials .pique-testimonials article .entry-content cite,
.site-branding .site-title,
.widget-title {
	font-family: Karla, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-align: left;
	text-transform: uppercase;
}

h4 {
	font-size: 1.999em;
}

h5 {
	font-size: 1.414em;
}

h6 {
	font-size: 1em;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
.pique-template-testimonials .pique-testimonials article .entry-content {
	border-top: 2px solid;
	color: #909090;
	font-size: 1.3em;
	font-style: italic;
	margin: 3em auto;
	max-width: 933.33333px;
	text-align: center;
}
blockquote:before,
.pique-template-testimonials .pique-testimonials article .entry-content:before {
	content: '“';
	display: block;
	font-family: Georgia, serif;
	font-size: 4em;
	font-style: normal;
	font-weight: bolder;
	line-height: 0.25em;
	margin: 4px auto 0;
	text-shadow: none;
}
blockquote p,
.pique-template-testimonials .pique-testimonials article .entry-content p {
	margin: 0;
	text-align: left;
}
blockquote cite,
.pique-template-testimonials .pique-testimonials article .entry-content cite {
	border: none;
	display: block;
	font-size: 0.5em;
	font-style: normal;
	margin-top: 1.5rem;
	text-align: right;
}
blockquote cite::before,
.pique-template-testimonials .pique-testimonials article .entry-content cite::before {
	content: '—';
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-family: 'Courier 10 Pitch', Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #444;
	cursor: help;
}

mark,
ins {
	background: #f4f4f4;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

blockquote,
.pique-template-testimonials .pique-testimonials article .entry-content,
q {
	quotes: '' '';
}

hr {
	background-color: #e9d5c0;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

.entry-content li {
	margin-bottom: 0.5em;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	color: #909090;
	font-weight: bold;
}

dd {
	margin: 0 0 0.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Overall form */
form {
	color: #726b60;
	text-align: left;
}

/* Labels */
label {
	color: #5d5d5d;
	font-family: Karla, Arial, sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

/* Text inputs */
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
	background: rgba(255, 255, 255, 0.75);
	border: 2px solid #909090;
	border-radius: 0;
	box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
	color: #767676;
	font-size: 16px;
	font-size: 1rem;
	transition: all 0.2s ease-in-out 0s;
	width: 100%;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
textarea:focus {
	background-color: #fff;
	border-color: #83b6cc;
	color: #83b6cc;
	outline: 0;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
	font-style: italic;
	padding: 0.5em;
}

textarea {
	padding: 0.5em 0.5em;
	width: 100%;
}

/* Buttons */
button,
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: #83b6cc;
	border: 2px solid transparent;
	border-radius: 2em;
	color: #eff6f9;
	display: inline-block;
	font-family: Karla, Arial, sans-serif;
	font-size: 15.2px;
	font-size: 0.95rem;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
	padding: 1em 3em;
	text-shadow: none;
	text-transform: uppercase;
	transition: background-color 0.125s ease-in;

	-webkit-appearance: none;
}
@media (max-width: 767px) {
	button,
	.archive .read-more a,
	.blog .read-more a,
	.search-results .read-more a,
	.button,
	input[type='button'],
	input[type='reset'],
	input[type='submit'] {
		width: 75%;
	}
}
button:hover,
.archive .read-more a:hover,
.blog .read-more a:hover,
.search-results .read-more a:hover,
.button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
	background-color: transparent;
	border-color: #83b6cc;
	color: #83b6cc;
}
button:active,
.archive .read-more a:active,
.blog .read-more a:active,
.search-results .read-more a:active,
button:focus,
.archive .read-more a:focus,
.blog .read-more a:focus,
.search-results .read-more a:focus,
.button:active,
.button:focus,
input[type='button']:active,
input[type='button']:focus,
input[type='reset']:active,
input[type='reset']:focus,
input[type='submit']:active,
input[type='submit']:focus {
	background-color: #4488a5;
	border-color: #83b6cc;
	color: #83b6cc;
}
button.minimal,
.archive .read-more a.minimal,
.blog .read-more a.minimal,
.search-results .read-more a.minimal,
.button.minimal,
input[type='button'].minimal,
input[type='reset'].minimal,
input[type='submit'].minimal {
	background-color: #eff6f9;
	color: #83b6cc;
}
button.minimal:active,
.archive .read-more a.minimal:active,
.blog .read-more a.minimal:active,
.search-results .read-more a.minimal:active,
button.minimal:focus,
.archive .read-more a.minimal:focus,
.blog .read-more a.minimal:focus,
.search-results .read-more a.minimal:focus,
button.minimal:hover,
.archive .read-more a.minimal:hover,
.blog .read-more a.minimal:hover,
.search-results .read-more a.minimal:hover,
.button.minimal:active,
.button.minimal:focus,
.button.minimal:hover,
input[type='button'].minimal:active,
input[type='button'].minimal:focus,
input[type='button'].minimal:hover,
input[type='reset'].minimal:active,
input[type='reset'].minimal:focus,
input[type='reset'].minimal:hover,
input[type='submit'].minimal:active,
input[type='submit'].minimal:focus,
input[type='submit'].minimal:hover {
	background-color: transparent;
	border-color: #eff6f9;
	color: #eff6f9;
}

@media (max-width: 767px) {
	button + button,
	.archive .read-more a + button,
	.blog .read-more a + button,
	.search-results .read-more a + button,
	.archive .read-more button + a,
	.archive .read-more a + a,
	.blog .read-more button + a,
	.blog .read-more a + a,
	.search-results .read-more button + a,
	.search-results .read-more a + a,
	.button + .button {
		margin-top: 1em;
	}
}

@media (min-width: 768px) {
	button + button,
	.archive .read-more a + button,
	.blog .read-more a + button,
	.search-results .read-more a + button,
	.archive .read-more button + a,
	.archive .read-more a + a,
	.blog .read-more button + a,
	.blog .read-more a + a,
	.search-results .read-more button + a,
	.search-results .read-more a + a,
	.button + .button {
		margin-left: 0.5em;
	}
}

/* MailChimp-embed-specific */
#mce-responses + p {
	display: none;
}

/* Comment form-specific */
.contact-form textarea {
	width: 100% !important;
	/* Because 80% looks silly */
}

/* Search form specific */
.search-form {
	margin-top: 10px;
}
@media (max-width: 767px) {
	.search-form {
		text-align: center;
	}
	.search-form .search-submit {
		margin-top: 10px;
	}
}
@media (min-width: 768px) {
	.search-form .search-field {
		width: 77%;
	}
	.search-form .search-submit {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #83b6cc;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
a:hover,
a:focus,
a:active {
	color: #e9d5c0;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}

/* Make sure lengthy URLs wrap properly */
.entry-content a,
.widget a {
	word-break: break-word;
	word-wrap: break-word;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead {
	background-color: #2d2a26;
	height: 240px;
	position: relative;
	text-align: center;
	z-index: 5;
}
#masthead .pique-header {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.site-branding {
	left: 50%;
	position: absolute;
	top: 40%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.site-branding .site-logo-link {
	display: inline-block;
	margin: 1rem auto 0;
}
.site-branding .site-logo-link img {
	height: 75px;
	width: auto;
}
@media (min-width: 768px) {
	.site-branding .site-logo-link img {
		height: 100px;
	}
}
.site-branding .site-logo-link:hover {
	-webkit-transform: scale(5%);
	    -ms-transform: scale(5%);
	        transform: scale(5%);
}
.site-branding .site-title {
	font-style: normal;
	margin: 40px 0 0;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
.site-branding .site-title a {
	color: #fcfbf9;
}
.site-branding .site-logo-link + .site-title {
	margin-top: 20px;
}
.site-branding .site-description {
	color: #fcfbf9;
	font-style: italic;
	margin: 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
	#masthead {
		height: 160px;
	}
	.site-logo-link + .site-title,
	.site-description {
		display: none;
	}
	.site-branding {
		top: 30%;
	}
}

/* Navigation menu */
#site-navigation-wrapper {
	bottom: 0;
	position: absolute;
	width: 100%;
}

.main-navigation {
	background: #2d2a26;
	border-bottom: 1px solid #49443d;
	border-top: 1px solid #49443d;
	clear: both;
	display: block;
	font-family: Karla, Arial, sans-serif;
	width: 100%;
	z-index: 10000;
	/* Current page highlight */
	/* Priority+ menu */
}
.main-navigation li {
	display: inline-block;
}
.main-navigation a {
	color: #fcfbf9;
	display: inline-block;
	font-size: 12.8px;
	font-size: 0.8rem;
	letter-spacing: 1px;
	padding: 12px 15px;
	text-transform: uppercase;
}
.main-navigation a:hover {
	color: #a7cbdb;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
	color: #e9d5c0;
}
.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	/* Sub-nav */
}
.main-navigation ul ul {
	background: #11100f;
	left: -999em;
	position: absolute;
	text-align: left;
	z-index: 99999;
}
.main-navigation ul ul li {
	display: block;
}
.main-navigation ul ul a {
	border-top: 1px solid rgba(233, 213, 192, 0.1);
	color: #e9d5c0;
	display: block;
	width: 100%;
}
.main-navigation #more-menu {
	display: none;
}
.main-navigation #more-menu.visible {
	display: inline-block;
}
.main-navigation #more-menu > a::before {
	content: '\f476';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

/* Mobile menu */
@media (max-width: 767px) {
	.main-navigation {
		/* Show mobile menus when "focus" class is added via JS */
		/* Sub-menus */
		/* Sub-sub-menus */
	}
	.main-navigation a {
		padding-left: 10px;
	}
	.main-navigation li.focus > ul {
		left: 0;
	}
	.main-navigation ul ul {
		border-bottom: 1px solid #49443d;
		width: 100%;
	}
	.main-navigation ul ul ul {
		border-bottom: none;
		left: 0;
		padding-left: 25px;
		position: relative;
	}
	.main-navigation ul ul ul a {
		padding-left: 0;
	}
}

/* Regular menu */
@media (min-width: 768px) {
	.main-navigation {
		left: 50%;
		max-width: 1400px;
		position: relative;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
		/* Sub-nav */
		/* Sub-sub-menu */
		/* Show sub-menus on hover */
		/* Menu items on the right-hand side of the screen should display to the left, so they don't run off the screen */
		/* Adjust position of arrow for our last two menu items */
		/* Adjust position of sub-nav for these final two menu items also */
	}
	.main-navigation ul {
		display: block;
		list-style: none;
		margin: 0;
	}
	.main-navigation li {
		position: relative;
	}
	.main-navigation ul ul {
		left: -999em;
		min-width: 200px;
		position: absolute;
		top: 37px;
		/* This is just here to make it easier to scroll down to the drop-down */
	}
	.main-navigation ul ul::before {
		border-color: transparent transparent #11100f transparent;
		border-style: solid;
		border-width: 0 7px 7px 7px;
		content: '';
		display: block;
		height: 0;
		left: 15px;
		position: absolute;
		top: -5px;
		width: 0;
	}
	.main-navigation ul ul::after {
		content: '';
		display: block;
		height: 20px;
		left: 0;
		position: absolute;
		top: -10px;
		width: 100%;
	}
	.main-navigation ul ul li:first-of-type a {
		border-top: none;
		/* Remove border for first child element */
	}
	.main-navigation ul ul ul {
		left: -999em;
		top: 0;
	}
	.main-navigation ul ul ul::before {
		border-color: transparent #11100f transparent transparent;
		border-width: 7px 7px 7px 0;
		left: -5px;
		position: absolute;
		top: 15px;
	}
	.main-navigation ul ul ul::after {
		height: 100%;
		left: -15px;
		top: 0;
		width: 20px;
	}
	.main-navigation li:hover > ul {
		left: auto;
	}
	.main-navigation ul ul li:hover > ul {
		left: 103%;
		left: calc(100% + 5px);
	}
	.main-navigation #primary-menu > li:nth-last-child(1):hover > ul,
	.main-navigation #primary-menu > li:nth-last-child(2):hover > ul {
		left: auto;
		right: 5%;
	}
	.main-navigation #primary-menu > li:nth-last-child(1):hover ul::before,
	.main-navigation #primary-menu > li:nth-last-child(2):hover ul::before {
		left: auto;
		right: 15px;
	}
	.main-navigation #primary-menu > li:nth-last-child(1) li:hover ul,
	.main-navigation #primary-menu > li:nth-last-child(2) li:hover ul {
		left: auto;
		right: 103%;
		right: calc(100% + 5px);
	}
	.main-navigation #primary-menu > li:nth-last-child(1) li:hover ul::before,
	.main-navigation #primary-menu > li:nth-last-child(2) li:hover ul::before {
		left: auto;
		right: -8px;
	}
	.main-navigation #primary-menu > li:nth-last-child(1) li:hover ul::after,
	.main-navigation #primary-menu > li:nth-last-child(2) li:hover ul::after {
		left: auto;
		right: -15px;
	}
	/* Sticky menu */
	.sticky {
		bottom: auto;
		position: fixed;
		top: 0;
	}
}

/* Account for the admin bar */
@media screen and (min-width: 600px) and (max-width: 782px) {
	.admin-bar .main-navigation.sticky {
		top: 46px;
	}
}

@media screen and (min-width: 782px) {
	.admin-bar .main-navigation.sticky {
		top: 32px;
	}
}

.secondary-links ul {
	margin: 0;
	padding: 0;
}
.secondary-links ul li {
	display: inline;
}
.secondary-links ul li a::after {
	content: ' · ';
	display: inline;
}
.secondary-links ul li:last-child a::after {
	display: none;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	border-bottom: 2px solid #a7cbdb;
	border-top: 1px solid #a7cbdb;
	clear: both;
}
.site-main .comment-navigation,
.site-main
  .posts-navigation,
.site-main
  .post-navigation {
	margin: 20px 0;
	overflow: hidden;
}
.comment-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a,
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
	color: #a7cbdb;
	display: block;
	font-size: 18.4px;
	font-size: 1.15rem;
	font-style: italic;
	line-height: 1.2;
	padding: 20px 0;
}
.comment-navigation .nav-previous a span,
.comment-navigation .nav-next a span,
.posts-navigation .nav-previous a span,
.posts-navigation .nav-next a span,
.post-navigation .nav-previous a span,
.post-navigation .nav-next a span {
	color: #71abc5;
	display: block;
	font-family: Karla, Arial, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.comment-navigation .nav-previous a:hover,
.comment-navigation .nav-next a:hover,
.posts-navigation .nav-previous a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
	color: #3c7993;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	text-align: left;
}
.comment-navigation .nav-previous span::before,
.posts-navigation .nav-previous span::before,
.post-navigation .nav-previous span::before {
	content: '';
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 5px;
	text-decoration: none;
	vertical-align: 1px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: right;
}
.comment-navigation .nav-next span::after,
.posts-navigation .nav-next span::after,
.post-navigation .nav-next span::after {
	content: '';
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-left: 5px;
	text-decoration: none;
	vertical-align: 1px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
@media (min-width: 768px) {
	.comment-navigation .nav-previous,
	.posts-navigation .nav-previous,
	.post-navigation .nav-previous {
		float: left;
		text-align: left;
		width: 50%;
	}
	.comment-navigation .nav-next,
	.posts-navigation .nav-next,
	.post-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-main .posts-navigation {
	border: none;
	margin: 20px 40px;
}
@media (max-width: 767px) {
	.site-main .posts-navigation {
		margin: 10px 20px;
	}
	.site-main .posts-navigation .nav-previous {
		float: left;
		text-align: left;
		width: 50%;
	}
	.site-main .posts-navigation .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.widget.widget_wpcom_social_media_icons_widget {
	margin: 0 auto;
	padding: 0;
}
.widget.widget_wpcom_social_media_icons_widget ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}
.widget.widget_wpcom_social_media_icons_widget ul li {
	display: inline-block;
	list-style: none;
	margin: 0 10px 10px 0;
	padding: 0;
}
.widget.widget_wpcom_social_media_icons_widget ul a {
	background: #2d2a26;
	border: 2px solid #e9d5c0;
	border-radius: 50%;
	display: inline-block;
	padding: 0;
	text-decoration: none;
}
.widget.widget_wpcom_social_media_icons_widget ul a::before {
	color: #e9d5c0;
	display: inline-block;
	display: block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 32px;
	line-height: 1;
	line-height: 1;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s all ease-in-out;
	vertical-align: text-bottom;
	width: 32px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.widget.widget_wpcom_social_media_icons_widget ul a:hover {
	background: #e9d5c0;
	border: 2px solid;
	border-color: #2d2a26;
}
.widget.widget_wpcom_social_media_icons_widget ul a:hover::before {
	color: #2d2a26;
}

.secondary-links li a[href*='wordpress.org'],
.secondary-links li a[href*='facebook.com'],
.secondary-links li a[href*='twitter.com'],
.secondary-links li a[href*='dribbble.com'],
.secondary-links li a[href*='plus.google.com'],
.secondary-links li a[href*='pinterest.com'],
.secondary-links li a[href*='github.com'],
.secondary-links li a[href*='tumblr.com'],
.secondary-links li a[href*='youtube.com'],
.secondary-links li a[href*='flickr.com'],
.secondary-links li a[href*='vimeo.com'],
.secondary-links li a[href*='instagram.com'],
.secondary-links li a[href*='codepen.io'],
.secondary-links li a[href*='linkedin.com'],
.secondary-links li a[href*='foursquare.com'],
.secondary-links li a[href*='reddit.com'],
.secondary-links li a[href*='digg.com'],
.secondary-links li a[href*='getpocket.com'],
.secondary-links li a[href*='path.com'],
.secondary-links li a[href*='stumbleupon.com'],
.secondary-links li a[href*='spotify.com'],
.secondary-links li a[href*='twitch.tv'],
.secondary-links li a[href*='dropbox.com'],
.secondary-links li a[href*='/feed'],
.secondary-links li a[href*='skype'],
.secondary-links li a[href*='mailto'] {
	display: inline-block;
	height: 32px;
	margin-right: 5px;
	overflow: hidden;
	vertical-align: middle;
	width: 32px;
}
.secondary-links li a[href*='wordpress.org']::before,
.secondary-links li a[href*='facebook.com']::before,
.secondary-links li a[href*='twitter.com']::before,
.secondary-links li a[href*='dribbble.com']::before,
.secondary-links li a[href*='plus.google.com']::before,
.secondary-links li a[href*='pinterest.com']::before,
.secondary-links li a[href*='github.com']::before,
.secondary-links li a[href*='tumblr.com']::before,
.secondary-links li a[href*='youtube.com']::before,
.secondary-links li a[href*='flickr.com']::before,
.secondary-links li a[href*='vimeo.com']::before,
.secondary-links li a[href*='instagram.com']::before,
.secondary-links li a[href*='codepen.io']::before,
.secondary-links li a[href*='linkedin.com']::before,
.secondary-links li a[href*='foursquare.com']::before,
.secondary-links li a[href*='reddit.com']::before,
.secondary-links li a[href*='digg.com']::before,
.secondary-links li a[href*='getpocket.com']::before,
.secondary-links li a[href*='path.com']::before,
.secondary-links li a[href*='stumbleupon.com']::before,
.secondary-links li a[href*='spotify.com']::before,
.secondary-links li a[href*='twitch.tv']::before,
.secondary-links li a[href*='dropbox.com']::before,
.secondary-links li a[href*='/feed']::before,
.secondary-links li a[href*='skype']::before,
.secondary-links li a[href*='mailto']::before {
	background: #2d2a26;
	border: 2px solid #e9d5c0;
	border-radius: 50%;
	color: #e9d5c0;
	display: inline-block;
	display: block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	height: 32px;
	line-height: 1;
	line-height: 1;
	padding: 6px;
	text-align: center;
	text-decoration: none;
	transition: 0.2s all ease-in-out;
	vertical-align: text-bottom;
	width: 32px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.secondary-links li a[href*='wordpress.org']:hover::before,
.secondary-links li a[href*='facebook.com']:hover::before,
.secondary-links li a[href*='twitter.com']:hover::before,
.secondary-links li a[href*='dribbble.com']:hover::before,
.secondary-links li a[href*='plus.google.com']:hover::before,
.secondary-links li a[href*='pinterest.com']:hover::before,
.secondary-links li a[href*='github.com']:hover::before,
.secondary-links li a[href*='tumblr.com']:hover::before,
.secondary-links li a[href*='youtube.com']:hover::before,
.secondary-links li a[href*='flickr.com']:hover::before,
.secondary-links li a[href*='vimeo.com']:hover::before,
.secondary-links li a[href*='instagram.com']:hover::before,
.secondary-links li a[href*='codepen.io']:hover::before,
.secondary-links li a[href*='linkedin.com']:hover::before,
.secondary-links li a[href*='foursquare.com']:hover::before,
.secondary-links li a[href*='reddit.com']:hover::before,
.secondary-links li a[href*='digg.com']:hover::before,
.secondary-links li a[href*='getpocket.com']:hover::before,
.secondary-links li a[href*='path.com']:hover::before,
.secondary-links li a[href*='stumbleupon.com']:hover::before,
.secondary-links li a[href*='spotify.com']:hover::before,
.secondary-links li a[href*='twitch.tv']:hover::before,
.secondary-links li a[href*='dropbox.com']:hover::before,
.secondary-links li a[href*='/feed']:hover::before,
.secondary-links li a[href*='skype']:hover::before,
.secondary-links li a[href*='mailto']:hover::before {
	background: #e9d5c0;
	border-color: #2d2a26;
	color: #2d2a26;
}
.secondary-links li a[href*='wordpress.org']::after,
.secondary-links li a[href*='facebook.com']::after,
.secondary-links li a[href*='twitter.com']::after,
.secondary-links li a[href*='dribbble.com']::after,
.secondary-links li a[href*='plus.google.com']::after,
.secondary-links li a[href*='pinterest.com']::after,
.secondary-links li a[href*='github.com']::after,
.secondary-links li a[href*='tumblr.com']::after,
.secondary-links li a[href*='youtube.com']::after,
.secondary-links li a[href*='flickr.com']::after,
.secondary-links li a[href*='vimeo.com']::after,
.secondary-links li a[href*='instagram.com']::after,
.secondary-links li a[href*='codepen.io']::after,
.secondary-links li a[href*='linkedin.com']::after,
.secondary-links li a[href*='foursquare.com']::after,
.secondary-links li a[href*='reddit.com']::after,
.secondary-links li a[href*='digg.com']::after,
.secondary-links li a[href*='getpocket.com']::after,
.secondary-links li a[href*='path.com']::after,
.secondary-links li a[href*='stumbleupon.com']::after,
.secondary-links li a[href*='spotify.com']::after,
.secondary-links li a[href*='twitch.tv']::after,
.secondary-links li a[href*='dropbox.com']::after,
.secondary-links li a[href*='/feed']::after,
.secondary-links li a[href*='skype']::after,
.secondary-links li a[href*='mailto']::after {
	display: none;
}

.secondary-links li a[href*='wordpress.org']:before {
	content: '\f205';
}

.secondary-links li a[href*='facebook.com']:before {
	content: '\f204';
}

.secondary-links li a[href*='twitter.com']:before {
	content: '\f202';
}

.secondary-links li a[href*='dribbble.com']:before {
	content: '\f201';
}

.secondary-links li a[href*='plus.google.com']:before {
	content: '\f206';
}

.secondary-links li a[href*='pinterest.com']:before {
	content: '\f209';
}

.secondary-links li a[href*='github.com']:before {
	content: '\f200';
}

.secondary-links li a[href*='tumblr.com']:before {
	content: '\f214';
}

.secondary-links li a[href*='youtube.com']:before {
	content: '\f213';
}

.secondary-links li a[href*='flickr.com']:before {
	content: '\f211';
}

.secondary-links li a[href*='vimeo.com']:before {
	content: '\f212';
}

.secondary-links li a[href*='instagram.com']:before {
	content: '\f215';
}

.secondary-links li a[href*='codepen.io']:before {
	content: '\f216';
}

.secondary-links li a[href*='linkedin.com']:before {
	content: '\f207';
}

.secondary-links li a[href*='foursquare.com']:before {
	content: '\f226';
}

.secondary-links li a[href*='reddit.com']:before {
	content: '\f222';
}

.secondary-links li a[href*='digg.com']:before {
	content: '\f221';
}

.secondary-links li a[href*='getpocket.com']:before {
	content: '\f224';
}

.secondary-links li a[href*='path.com']:before {
	content: '\f219';
}

.secondary-links li a[href*='stumbleupon.com']:before {
	content: '\f223';
}

.secondary-links li a[href*='spotify.com']:before {
	content: '\f515';
}

.secondary-links li a[href*='twitch.tv']:before {
	content: '\f516';
}

.secondary-links li a[href*='dropbox.com']:before {
	content: '\f225';
}

.secondary-links li a[href*='/feed']:before {
	content: '\f413';
}

.secondary-links li a[href*='skype']:before {
	content: '\f220';
}

.secondary-links li a[href*='mailto']:before {
	content: '\f410';
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f4f4f4;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #2d2a26;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	border-top: 2px solid #83b6cc;
	font-family: Karla, Arial, sans-serif;
	margin: 0 0 1.5em;
	/* Make sure select elements fit in nicely with their friends. */
	/* Consistency across header elements within widgets */
}
.widget select {
	font-family: Karla, Arial, sans-serif;
	font-size: 15.2px;
	font-size: 0.95rem;
	max-width: 100%;
}
.widget h2:not(.widget-title),
.widget h3:not(.widget-title),
.widget blockquote cite:not(.widget-title),
blockquote
  .widget cite:not(.widget-title),
.widget .pique-template-testimonials .pique-testimonials article .entry-content cite:not(.widget-title),
.pique-template-testimonials .pique-testimonials article .entry-content
  .widget cite:not(.widget-title),
.widget .site-branding .site-title:not(.widget-title),
.site-branding
  .widget .site-title:not(.widget-title),
.widget .widget-title:not(.widget-title),
.widget h4:not(.widget-title) {
	font-family: Lora, Georgia, serif;
	font-size: 28.8px;
	font-size: 1.8rem;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
}

/* Search widget */
.widget_search .search-form .search-field {
	width: 100%;
}

.widget_search .search-submit {
	display: none;
}

/* Lists in widgets (pages, categories, comments, etc) */
.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.widget ul a {
	border-top: 1px solid rgba(233, 213, 192, 0.5);
	color: #2d2a26;
	display: block;
	padding: 7px 0;
}
.widget ul a:hover {
	background-color: rgba(233, 213, 192, 0.15);
	border-bottom: none;
}
.widget ul .sub-menu {
	margin-left: 1em;
	padding: 0;
}

/* Archive widgets */
.widget_archive ul li,
.widget_categories ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	-webkit-align-items: baseline;
	        align-items: baseline;
	-ms-flex-align: baseline;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.widget_archive ul li a,
.widget_categories ul li a {
	border: none;
	display: inline-block;

	-ms-flex-order: 1;
	-webkit-order: 1;
	        order: 1;
}
.widget_archive ul li::before,
.widget_categories ul li::before {
	border-bottom: 1px dotted #d5af87;
	content: '';
	margin: 0.25em 3px;

	-webkit-flex-grow: 1;
	        flex-grow: 1;
	-ms-flex-order: 2;
	-ms-flex-positive: 1;
	-webkit-order: 2;
	        order: 2;
}
.widget_archive ul li .post-count,
.widget_categories ul li .post-count {
	padding-top: 0.5em;

	-ms-flex-order: 3;
	-webkit-order: 3;
	        order: 3;
}
.widget_archive ul li ul,
.widget_categories ul li ul {
	margin-left: 1em;

	-webkit-flex-basis: 100%;
	        flex-basis: 100%;
	-webkit-flex-grow: 0;
	        flex-grow: 0;
	-ms-flex-order: 4;
	-ms-flex-positive: 0;
	-ms-flex-preferred-size: 100%;
	-webkit-order: 4;
	        order: 4;
}

/* Comment widget */
.widget_recent_comments li {
	border-top: 1px solid rgba(233, 213, 192, 0.5);
	font-family: Lora, Georgia, serif;
	font-style: italic;
	padding: 7px 0;
	/*.comment-author-link::after,
		> a::before {
			display: inline;
			content: "—";
		}*/
}
.widget_recent_comments li a {
	border: 0;
	display: inline-block;
	font-family: Karla, Arial, sans-serif;
	font-style: normal;
}

/* RSS widget */
.widget_rss .rsswidget {
	margin-bottom: -7px;
}

.widget_rss .rssSummary {
	font-family: Lora, Georgia, serif;
	font-style: italic;
}

.widget_rss cite {
	display: block;
	font-style: normal;
	padding-bottom: 7px;
	text-align: right;
}

/* Text widget */
.textwidget {
	font-family: Lora, Georgia, serif;
	font-size: 1.2em;
	font-style: italic;
}

/* Tag cloud widget */
.widget_tag_cloud .tagcloud {
	font-family: Lora, Georgia, serif;
	font-style: italic;
}

/* Calendar widget */
.widget_calendar {
	line-height: 2.4;
}
.widget_calendar #calendar-wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}
.widget_calendar caption {
	font-family: Lora, Georgia, serif;
	font-style: italic;
	margin-bottom: 5px;
}
.widget_calendar thead {
	border-bottom: 1px solid rgba(233, 213, 192, 0.5);
}
.widget_calendar td {
	text-align: center;
}
.widget_calendar #prev {
	text-align: left;
}
.widget_calendar #next {
	text-align: right;
}

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
.site {
	background: rgba(252, 251, 249, 0.9);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	max-width: 1400px;
}

.site-content {
	margin: 0 auto;
	padding: 20px;
}

.content-area {
	content: '';
	display: table;
	table-layout: fixed;
	/* Prevent stuff from getting spilly on mobile */
	width: 100%;

	overflow-wrap: break-word;
}

/* On smaller devices, give the sidebar a bit of breathing room at the top */
@media (max-width: 1023px) {
	#secondary {
		margin-top: 40px;
	}
}

/* On desktop devices, we'll show a sidebar next to our content */
@media (min-width: 1024px) {
	.site-content {
		margin-bottom: 20px;
		margin-top: 40px;
	}
	.site-content .content-area {
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
		width: 66%;
	}
	.pique-sidebar .content-area {
		float: right;
		padding-left: 40px;
		padding-right: 0;
	}
	.pique-sidebar .widget-area {
		display: block;
		float: right;
		font-size: 15.2px;
		font-size: 0.95rem;
		padding-right: 40px;
		width: 33%;
	}
	.page-template-template-full-width .content-area {
		float: none;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}

/* Grid structures for tablet devices and larger */
@media (min-width: 768px) {
	.pique-grid-two article,
	.error-404 .widget {
		float: left;
		font-size: 0.85em;
		text-align: left;
		width: 45%;
		width: calc( (100% - 80px) / 2);
	}
	.pique-grid-two article:nth-of-type(odd),
	.error-404 .widget:nth-of-type(odd) {
		clear: left;
		margin-right: 40px;
	}
	.pique-grid-two article:nth-of-type(even),
	.error-404 .widget:nth-of-type(even) {
		margin-left: 40px;
	}
	.pique-grid-three article {
		float: left;
		width: 30%;
		width: calc( (100% - 80px) / 3);
	}
	.pique-grid-three article:nth-of-type(1),
	.pique-grid-three article:nth-of-type(3n+1) {
		clear: left;
		margin-right: 40px;
	}
	.pique-grid-three article:nth-of-type(3n) {
		margin-left: 40px;
	}
}

/* Footer */
.site-footer {
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	color: #fcfbf9;
	margin: 0 auto;
	max-width: 1400px;
	padding: 15px 20px 0;
	position: relative;
}
.site-footer::before {
	background: rgba(31, 29, 26, 0.875);
	bottom: 0;
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.site-footer a {
	color: #e9d5c0;
}
.site-footer .secondary-links,
.site-footer .site-info {
	font-size: 12.8px;
	font-size: 0.8rem;
	font-style: italic;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	z-index: 1;
}
.site-footer .secondary-links a,
.site-footer .site-info a {
	color: #fcfbf9;
}
@media (min-width: 1024px) {
	.site-footer .secondary-links {
		float: left;
		font-size: 14.4px;
		font-size: 0.9rem;
		text-align: left;
	}
	.site-footer .site-info {
		font-size: 14.4px;
		font-size: 0.9rem;
		margin-bottom: 15px;
		text-align: center;
	}
	.site-footer .secondary-links + .site-info {
		float: right;
		text-align: right;
	}
	.site-footer .secondary-links + .site-info::after {
		content: '';
		display: table;
		table-layout: fixed;
	}
}

/* Footer sidebar */
#tertiary {
	border-bottom: 1px solid rgba(233, 213, 192, 0.25);
	clear: both;
	content: '';
	display: table;
	margin-bottom: 10px;
	padding: 10px 0;
	position: relative;
	table-layout: fixed;
	table-layout: fixed;
	width: 100%;
	z-index: 2;
}
#tertiary .widget {
	border-top: none;
}
#tertiary .widget:not(.widget_wpcom_social_media_icons_widget) ul a {
	color: #fcfbf9;
}
#tertiary .widget:not(.widget_wpcom_social_media_icons_widget) ul a:hover {
	background-color: rgba(45, 42, 38, 0.95);
}
#tertiary .widget_archive ul li::before,
#tertiary .widget_categories ul li::before {
	border-color: rgba(233, 213, 192, 0.25);
}
@media (min-width: 768px) {
	#tertiary {
		margin-bottom: 15px;
	}
	#tertiary .widget-area {
		float: left;
		font-size: 15.2px;
		font-size: 0.95rem;
		padding: 0 20px;
	}
	#tertiary .widget-area:first-of-type {
		padding-left: 0;
	}
	#tertiary .widget-area:last-of-type {
		padding-right: 0;
	}
	#tertiary .widget-area:nth-child(1):nth-last-child(1) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 466.66667px;
	}
	#tertiary .widget-area:nth-child(1):nth-last-child(2),
	#tertiary .widget-area:nth-child(2):nth-last-child(1) {
		width: 50%;
	}
	#tertiary .widget-area:nth-child(1):nth-last-child(3),
	#tertiary .widget-area:nth-child(2):nth-last-child(2),
	#tertiary .widget-area:nth-child(3):nth-last-child(1) {
		width: 33.3333%;
	}
	#tertiary .widget-area:nth-child(2):nth-last-child(2) {
		padding: 0 10px;
	}
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/* Header rules specific to the front page only */
.pique-frontpage #masthead {
	background: none;
	left: 0;
	padding-top: 1em;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.pique-frontpage #masthead .site-branding {
	left: auto;
	position: relative;
	top: auto;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

.pique-frontpage #site-navigation-wrapper {
	position: relative;
}

.pique-frontpage .main-navigation:not(.sticky) {
	margin-top: 1em;
	position: relative;
}

@media (min-width: 768px) {
	.pique-frontpage #site-navigation:not(.sticky) {
		background: none;
		border: none;
	}
}

/* If we don't have any panels set, set the hero panel to full-height */
.pique-no-panels #pique-hero {
	min-height: 95vh;
}

/* Re-set some structural elements on these pages. This allows us to have 'panel' style pages. */
.pique-frontpage .site-content,
.pique-frontpage .content-area,
.archive .site-content,
.archive .content-area,
.blog .site-content,
.blog .content-area,
.search-results .site-content,
.search-results .content-area {
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}

.pique-frontpage .page-header,
.archive .page-header,
.blog .page-header,
.search-results .page-header {
	text-align: center;
}

/* Panels */
.pique-panel {
	background-color: #293940;
	margin: 0;
	min-height: 60vh;
	position: relative;
	width: 100%;
}
.pique-panel:nth-of-type(even) {
	background-color: #2d2a26;
}
.pique-panel .entry-meta,
.pique-panel .widget_rss .rss-date,
.widget_rss .pique-panel .rss-date,
.pique-panel .widget_rss cite,
.widget_rss .pique-panel cite {
	display: none;
	/* Hide for most post formats */
}
.pique-panel .entry-header,
.pique-panel .entry-content {
	position: relative;
	z-index: 1;
	/* Make sure these aren't covered by their backgrounds! */
}

/* Panel background (featured) image */
.pique-panel-background {
	background-attachment: scroll;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
@media (min-width: 768px) {
	.pique-panel-background {
		background-attachment: fixed;
		background-position: top center;
		background-repeat: repeat;
		background-size: auto;
	}
}
.pique-panel-background:before {
	background: rgba(0, 0, 0, 0.5);
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

/* Edit panel content links */
.pique-panel .edit-link {
	bottom: 15px;
	left: 10px;
	position: absolute;
	z-index: 1;
}
.pique-panel .edit-link::before {
	display: none;
}
.pique-panel .edit-link a {
	color: #fcfbf9;
	font-family: Karla, Arial, sans-serif;
	font-size: .9rem;
	letter-spacing: 1px;
	opacity: 0.9;
	padding: 1rem 1rem;
	text-transform: uppercase;
	width: auto;
}
.pique-panel .edit-link a:hover {
	border: none;
	opacity: 1;
}

/* Panel content */
.pique-panel-content {
	color: #fcfbf9;
	margin: 0 auto;
	max-width: 1400px;
	padding: 20px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
	.pique-panel-content {
		padding: 40px;
	}
}
.pique-panel-content h2 {
	border: 2px solid #fcfbf9;
	border-bottom: 0;
	color: #fcfbf9;
	display: inline-block;
	max-width: 100%;
	padding: 0.75rem 1.5rem 0.85rem;
	position: relative;
	text-transform: uppercase;
	word-break: break-word;
	word-wrap: break-word;
}
.pique-panel-content h2::before,
.pique-panel-content h2::after {
	border-bottom: 2px solid #fcfbf9;
	bottom: 0;
	content: '';
	display: block;
	height: 0;
	position: absolute;
	width: 50px;
}
.pique-panel-content h2::before {
	left: 0;
}
.pique-panel-content h2::after {
	right: 0;
}
.pique-panel-content h2 a {
	color: #fcfbf9;
}
.pique-panel-content h2 a:hover {
	border: none;
}
.pique-panel-content .entry-content {
	margin: 1em auto;
	max-width: 700px;
	text-align: left;
}
.pique-panel-content form {
	background: #fcfbf9;
	border-top: 4px solid #83b6cc;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding: 20px;
	text-shadow: none;
}
.pique-panel-content blockquote,
.pique-panel-content .pique-template-testimonials .pique-testimonials article .entry-content,
.pique-template-testimonials .pique-testimonials article .pique-panel-content .entry-content {
	color: #fcfbf9;
}
@media (min-width: 768px) {
	.pique-panel-content blockquote,
	.pique-panel-content .pique-template-testimonials .pique-testimonials article .entry-content,
	.pique-template-testimonials .pique-testimonials article .pique-panel-content .entry-content {
		font-size: 1.5em;
	}
}

@media (min-width: 768px) {
	.pique-panel-content h2 {
		max-width: 700px;
	}
}

.format-aside .pique-panel-content .entry-content,
.format-status .pique-panel-content .entry-content {
	font-size: 1.2em;
	font-style: italic;
}

.format-quote .read-more,
.format-aside .read-more,
.format-status .read-more,
.format-link .read-more,
.format-audio .read-more {
	display: none;
}

.format-quote .entry-meta,
.format-quote .widget_rss .rss-date,
.widget_rss .format-quote .rss-date,
.format-quote .widget_rss cite,
.widget_rss .format-quote cite,
.format-aside .entry-meta,
.format-aside .widget_rss .rss-date,
.widget_rss
.format-aside .rss-date,
.format-aside .widget_rss cite,
.widget_rss
.format-aside cite,
.format-status .entry-meta,
.format-status .widget_rss .rss-date,
.widget_rss
.format-status .rss-date,
.format-status .widget_rss cite,
.widget_rss
.format-status cite,
.format-link .entry-meta,
.format-link .widget_rss .rss-date,
.widget_rss
.format-link .rss-date,
.format-link .widget_rss cite,
.widget_rss
.format-link cite,
.format-audio .entry-meta,
.format-audio .widget_rss .rss-date,
.widget_rss
.format-audio .rss-date,
.format-audio .widget_rss cite,
.widget_rss
.format-audio cite {
	display: block;
	font-style: normal;
	text-align: left;
}
.format-quote .entry-meta .edit-link,
.format-quote .widget_rss .rss-date .edit-link,
.widget_rss .format-quote .rss-date .edit-link,
.format-quote .widget_rss cite .edit-link,
.widget_rss .format-quote cite .edit-link,
.format-aside .entry-meta .edit-link,
.format-aside .widget_rss .rss-date .edit-link,
.widget_rss
  .format-aside .rss-date .edit-link,
.format-aside .widget_rss cite .edit-link,
.widget_rss
  .format-aside cite .edit-link,
.format-status .entry-meta .edit-link,
.format-status .widget_rss .rss-date .edit-link,
.widget_rss
  .format-status .rss-date .edit-link,
.format-status .widget_rss cite .edit-link,
.widget_rss
  .format-status cite .edit-link,
.format-link .entry-meta .edit-link,
.format-link .widget_rss .rss-date .edit-link,
.widget_rss
  .format-link .rss-date .edit-link,
.format-link .widget_rss cite .edit-link,
.widget_rss
  .format-link cite .edit-link,
.format-audio .entry-meta .edit-link,
.format-audio .widget_rss .rss-date .edit-link,
.widget_rss
  .format-audio .rss-date .edit-link,
.format-audio .widget_rss cite .edit-link,
.widget_rss
  .format-audio cite .edit-link {
	display: none;
}

.format-quote .entry-title,
.format-aside .entry-title,
.format-status .entry-title,
.format-link .entry-title {
	display: none;
}

.format-quote .entry-content,
.format-aside .entry-content,
.format-status .entry-content,
.format-link .entry-content {
	margin-top: 40px;
}

.format-image .pique-panel-content .entry-content,
.format-video .pique-panel-content .entry-content,
.format-gallery .pique-panel-content .entry-content {
	text-align: center;
}

/* Read more links on archive pages */
.archive .read-more,
.blog .read-more,
.search-results .read-more {
	display: block;
	margin: 2em auto 1em;
	text-align: center;
}
@media (min-width: 768px) {
	.archive .read-more,
	.blog .read-more,
	.search-results .read-more {
		margin-top: 4em;
	}
}
.archive .read-more a,
.blog .read-more a,
.search-results .read-more a {
	text-shadow: none;
}
.archive .read-more a::after,
.blog .read-more a::after,
.search-results .read-more a::after {
	content: '';
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.archive .read-more a:hover,
.blog .read-more a:hover,
.search-results .read-more a:hover {
	padding-right: calc(3em - 20px);
}
.archive .read-more a:hover::after,
.blog .read-more a:hover::after,
.search-results .read-more a:hover::after {
	margin-left: 20px;
}

/* Hero area (the "home" page, as it were) */
#pique-hero .pique-panel-content {
	padding-top: 8em;
}
#pique-hero .pique-panel-content .entry-content {
	text-align: center;
}
#pique-hero .pique-panel-content .entry-content p {
	text-align: left;
}
#pique-hero .pique-panel-content .entry-content p:first-of-type {
	font-size: 2em;
	font-style: italic;
	text-align: center;
}
#pique-hero .pique-panel-content .entry-content em {
	color: #83b6cc;
}
@media (min-width: 768px) {
	#pique-hero .pique-panel-content .entry-content {
		padding-top: 2em;
	}
}

/* Content-heavy pages */
.pique-template-grid .pique-panel-content .entry-content,
.pique-template-testimonials .pique-panel-content .entry-content,
.pique-template-recent-posts .pique-panel-content .entry-content {
	max-width: none;
}

.pique-template-grid .pique-panel-content > .entry-content > p,
.pique-template-testimonials .pique-panel-content > .entry-content > p,
.pique-template-recent-posts .pique-panel-content > .entry-content > p {
	font-size: 1.2em;
	font-style: italic;
	margin: 0 auto 1em;
	max-width: 700px;
	text-align: center;
}

.pique-template-grid .pique-panel-content h3,
.pique-template-grid .pique-panel-content blockquote cite,
blockquote .pique-template-grid .pique-panel-content cite,
.pique-template-grid .pique-panel-content .pique-template-testimonials .pique-testimonials article .entry-content cite,
.pique-template-testimonials .pique-testimonials article .entry-content .pique-template-grid .pique-panel-content cite,
.pique-template-grid .pique-panel-content .site-branding .site-title,
.site-branding .pique-template-grid .pique-panel-content .site-title,
.pique-template-grid .pique-panel-content .widget-title,
.pique-template-grid .pique-panel-content h3 a,
.pique-template-grid .pique-panel-content blockquote cite a,
blockquote
.pique-template-grid .pique-panel-content cite a,
.pique-template-grid .pique-panel-content .pique-template-testimonials .pique-testimonials article .entry-content cite a,
.pique-template-testimonials .pique-testimonials article .entry-content
.pique-template-grid .pique-panel-content cite a,
.pique-template-grid .pique-panel-content .site-branding .site-title a,
.site-branding
.pique-template-grid .pique-panel-content .site-title a,
.pique-template-grid .pique-panel-content .widget-title a,
.pique-template-testimonials .pique-panel-content h3,
.pique-template-testimonials .pique-panel-content blockquote cite,
blockquote
.pique-template-testimonials .pique-panel-content cite,
.pique-template-testimonials .pique-panel-content .pique-testimonials article .entry-content cite,
.pique-template-testimonials .pique-testimonials article .entry-content .pique-panel-content cite,
.pique-template-testimonials .pique-panel-content .site-branding .site-title,
.site-branding
.pique-template-testimonials .pique-panel-content .site-title,
.pique-template-testimonials .pique-panel-content .widget-title,
.pique-template-testimonials .pique-panel-content h3 a,
.pique-template-testimonials .pique-panel-content blockquote cite a,
blockquote
.pique-template-testimonials .pique-panel-content cite a,
.pique-template-testimonials .pique-panel-content .pique-testimonials article .entry-content cite a,
.pique-template-testimonials .pique-testimonials article .entry-content .pique-panel-content cite a,
.pique-template-testimonials .pique-panel-content .site-branding .site-title a,
.site-branding
.pique-template-testimonials .pique-panel-content .site-title a,
.pique-template-testimonials .pique-panel-content .widget-title a,
.pique-template-recent-posts .pique-panel-content h3,
.pique-template-recent-posts .pique-panel-content blockquote cite,
blockquote
.pique-template-recent-posts .pique-panel-content cite,
.pique-template-recent-posts .pique-panel-content .pique-template-testimonials .pique-testimonials article .entry-content cite,
.pique-template-testimonials .pique-testimonials article .entry-content
.pique-template-recent-posts .pique-panel-content cite,
.pique-template-recent-posts .pique-panel-content .site-branding .site-title,
.site-branding
.pique-template-recent-posts .pique-panel-content .site-title,
.pique-template-recent-posts .pique-panel-content .widget-title,
.pique-template-recent-posts .pique-panel-content h3 a,
.pique-template-recent-posts .pique-panel-content blockquote cite a,
blockquote
.pique-template-recent-posts .pique-panel-content cite a,
.pique-template-recent-posts .pique-panel-content .pique-template-testimonials .pique-testimonials article .entry-content cite a,
.pique-template-testimonials .pique-testimonials article .entry-content
.pique-template-recent-posts .pique-panel-content cite a,
.pique-template-recent-posts .pique-panel-content .site-branding .site-title a,
.site-branding
.pique-template-recent-posts .pique-panel-content .site-title a,
.pique-template-recent-posts .pique-panel-content .widget-title a {
	color: #83b6cc;
}

/* Grid template panel */
.pique-grid-three article {
	font-size: 0.9em;
	text-align: center;
}

.pique-grid-three img.size-pique-square {
	border-radius: 50%;
	margin: 0 auto;
	max-width: 60%;
}

.pique-grid-three p {
	text-align: left;
}

/* Testimonial panel */
.pique-template-testimonials .pique-testimonials article {
	font-size: 0.85em;
	text-align: left;
}
.pique-template-testimonials .pique-testimonials article .entry-content {
	color: #fcfbf9;
	margin-bottom: 0;
}

.pique-template-testimonials .pique-testimonials .entry-footer {
	content: '';
	display: table;
	margin-top: 20px;
	table-layout: fixed;
}

.pique-template-testimonials .pique-testimonials .attachment-pique-thumbnail-avatar {
	border-radius: 50%;
	float: left;
	margin: 0 20px 0 0;
	max-width: 50%;
}

.pique-template-testimonials .pique-testimonials h2 {
	border: none;
	clear: none;
	color: #e9d5c0;
	float: left;
	font-size: 16px;
	font-size: 1rem;
	padding: 10px 0;
}
.pique-template-testimonials .pique-testimonials h2::before,
.pique-template-testimonials .pique-testimonials h2::after {
	display: none;
}
.pique-template-testimonials .pique-testimonials h2 em {
	display: block;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-transform: none;
}

/* Recent blog posts panel */
.pique-template-recent-posts .entry-title {
	margin-bottom: 0;
}

.pique-template-recent-posts article .entry-content {
	margin-top: 0;
}

.pique-template-recent-posts .read-more a {
	display: inline;
	font-family: Karla, Arial, sans-serif;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	white-space: nowrap;
}
.pique-template-recent-posts .read-more a::after {
	content: '';
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

/* Full-width panel */
.pique-template-full-width .entry-content {
	max-width: none;
}

/* Overlay elements (used to show content on top of the background image in cases where you want a fully opaque image) */
.overlay {
	background: #2d2a26;
	border-top: 4px solid #83b6cc;
	font-family: Karla, Arial, sans-serif;
	font-size: 0.8em;
	max-width: 700px;
	padding: 0 20px;
	text-align: left;
	text-shadow: none;
}
@media (max-width: 767px) {
	.overlay {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.overlay {
		width: 60%;
	}
}
@media (min-width: 1024px) {
	.overlay {
		width: 40%;
	}
}
.overlay h3,
.overlay blockquote cite,
blockquote .overlay cite,
.overlay .pique-template-testimonials .pique-testimonials article .entry-content cite,
.pique-template-testimonials .pique-testimonials article .entry-content .overlay cite,
.overlay .site-branding .site-title,
.site-branding .overlay .site-title,
.overlay .widget-title {
	margin-bottom: 0;
}
.overlay p {
	margin-top: 0;
}

/* Some elements shouldn't use a text-shadow, because it looks weird. */
.wp-playlist {
	text-shadow: none;
}

/* Simplify our styles a smidge so the Customizer doesn't have a panic attack */
.pique-customizer .pique-panel-background {
	background-attachment: inherit !important;
}

/* Add some user-friendly hints/overlays in the Customizer */
.pique-customizer.pique-frontpage .edit-link {
	bottom: 20px;
}

.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero) {
	/* Colour-code all panels (add 1 to account for #pique-hero, so 2 is actually panel 1)*/
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero)::after {
	border: 2px dashed;
	bottom: 20px;
	content: '';
	display: block;
	left: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero) .pique-panel-title {
	color: #fcfbf9;
	font-family: Karla, Arial, sans-serif;
	font-size: 12.8px;
	font-size: 0.8rem;
	letter-spacing: 1px;
	padding: 5px 10px;
	position: absolute;
	right: 15px;
	text-transform: uppercase;
	top: 15px;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(2) .pique-panel-title {
	background: #a64b55;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(2)::after {
	border-color: #a64b55;
	color: #a64b55;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(3) .pique-panel-title {
	background: #b569a2;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(3)::after {
	border-color: #b569a2;
	color: #b569a2;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(4) .pique-panel-title {
	background: #8f68bd;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(4)::after {
	border-color: #8f68bd;
	color: #8f68bd;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(5) .pique-panel-title {
	background: #575ebd;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(5)::after {
	border-color: #575ebd;
	color: #575ebd;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(6) .pique-panel-title {
	background: #55a1bd;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(6)::after {
	border-color: #55a1bd;
	color: #55a1bd;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(7) .pique-panel-title {
	background: #7dbd8f;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(7)::after {
	border-color: #7dbd8f;
	color: #7dbd8f;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(8) .pique-panel-title {
	background: #c8b247;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(8)::after {
	border-color: #c8b247;
	color: #c8b247;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(9) .pique-panel-title {
	background: #bd7555;
}
.pique-customizer.pique-frontpage .pique-panel:not(#pique-hero):nth-of-type(9)::after {
	border-color: #bd7555;
	color: #bd7555;
}

/* Add a highlight class to improve Customizer behaviour */
@-webkit-keyframes flash {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 0;
	}
}
@keyframes flash {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 0;
	}
}

.pique-highlight::after {
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-name: flash;
	        animation-name: flash;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;

	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}

/* Account for the admin bar */
.admin-bar.pique-frontpage #masthead {
	top: 32px;
}
@media screen and (max-width: 782px) {
	.admin-bar.pique-frontpage #masthead {
		top: 46px;
	}
}

.entry-content {
	margin: 0 0 1.5em;
}
.entry-content a:not(.button):hover {
	border-bottom: 2px solid;
}

.format-image .entry-content a:hover,
.format-gallery .entry-content a:hover,
.format-video .entry-content a:hover {
	border-bottom: none;
}

/* Sticky posts */
.sticky .entry-title a::before {
	content: '\f512';
	display: inline-block;
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-aside .entry-title a::before,
.archive .format-aside .entry-title a::before,
.search-results .format-aside .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-aside .entry-meta::before,
.format-aside .widget_rss .rss-date::before,
.widget_rss .format-aside .rss-date::before,
.format-aside .widget_rss cite::before,
.widget_rss .format-aside cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-audio .entry-title a::before,
.archive .format-audio .entry-title a::before,
.search-results .format-audio .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-audio .entry-meta::before,
.format-audio .widget_rss .rss-date::before,
.widget_rss .format-audio .rss-date::before,
.format-audio .widget_rss cite::before,
.widget_rss .format-audio cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-chat .entry-title a::before,
.archive .format-chat .entry-title a::before,
.search-results .format-chat .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-chat .entry-meta::before,
.format-chat .widget_rss .rss-date::before,
.widget_rss .format-chat .rss-date::before,
.format-chat .widget_rss cite::before,
.widget_rss .format-chat cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-gallery .entry-title a::before,
.archive .format-gallery .entry-title a::before,
.search-results .format-gallery .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-gallery .entry-meta::before,
.format-gallery .widget_rss .rss-date::before,
.widget_rss .format-gallery .rss-date::before,
.format-gallery .widget_rss cite::before,
.widget_rss .format-gallery cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-image .entry-title a::before,
.archive .format-image .entry-title a::before,
.search-results .format-image .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-image .entry-meta::before,
.format-image .widget_rss .rss-date::before,
.widget_rss .format-image .rss-date::before,
.format-image .widget_rss cite::before,
.widget_rss .format-image cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-link .entry-title a::before,
.archive .format-link .entry-title a::before,
.search-results .format-link .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-link .entry-meta::before,
.format-link .widget_rss .rss-date::before,
.widget_rss .format-link .rss-date::before,
.format-link .widget_rss cite::before,
.widget_rss .format-link cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-status .entry-title a::before,
.archive .format-status .entry-title a::before,
.search-results .format-status .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-status .entry-meta::before,
.format-status .widget_rss .rss-date::before,
.widget_rss .format-status .rss-date::before,
.format-status .widget_rss cite::before,
.widget_rss .format-status cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-quote .entry-title a::before,
.archive .format-quote .entry-title a::before,
.search-results .format-quote .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-quote .entry-meta::before,
.format-quote .widget_rss .rss-date::before,
.widget_rss .format-quote .rss-date::before,
.format-quote .widget_rss cite::before,
.widget_rss .format-quote cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.blog .format-video .entry-title a::before,
.archive .format-video .entry-title a::before,
.search-results .format-video .entry-title a::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 0.5em;
	text-decoration: none;
	text-shadow: none;
	vertical-align: text-bottom;
	vertical-align: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.format-video .entry-meta::before,
.format-video .widget_rss .rss-date::before,
.widget_rss .format-video .rss-date::before,
.format-video .widget_rss cite::before,
.widget_rss .format-video cite::before {
	content: '';
	display: inline-block;
	font-family: Genericons;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	vertical-align: text-bottom;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

/* Entry meta */
.entry-meta,
.widget_rss .rss-date,
.widget_rss cite {
	color: #c3c3c3;
	font-family: Karla, Arial, sans-serif;
	font-size: 13.6px;
	font-size: 0.85rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
.entry-meta a,
.widget_rss .rss-date a,
.widget_rss cite a {
	color: darkgray;
}
.entry-meta + .entry-title,
.widget_rss .rss-date + .entry-title,
.widget_rss cite + .entry-title {
	margin-top: 0.2rem;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

time + .updated {
	display: none;
}

.edit-link::before {
	content: ' · ';
	display: inline;
}

.page .edit-link::before {
	display: none;
}

/* Content */
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	font-family: Karla, Arial, sans-serif;
	font-size: 14.4px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	margin: 0 0 1.5em;
	text-transform: uppercase;
}

/* Categories & tags */
.cat-links,
.tags-links {
	color: darkgray;
	display: block;
	font-family: Lora, Georgia, serif;
	font-size: 14.4px;
	font-size: 0.9rem;
	font-style: italic;
	margin-top: 0.25rem;
}
.cat-links a,
.tags-links a {
	color: #909090;
}
.cat-links::before,
.tags-links::before {
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 5px;
	text-decoration: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}

.cat-links::before {
	content: '';
}

.tags-links::before {
	content: '';
}

/* 404 page */
.error-404 .page-title {
	margin-top: 0;
}

.error-404 .search-form {
	margin-bottom: 40px;
}

/* Nothing here yet? */
.pique-get-started {
	font-size: 1.2em;
	margin: 80px 40px;
	text-align: center;
}

/* Post footers */
.entry-footer {
	padding: 20px 0;
}

/* Titles */
#reply-title,
div#jp-relatedposts h3.jp-relatedposts-headline,
div#jp-relatedposts blockquote cite.jp-relatedposts-headline,
blockquote
div#jp-relatedposts cite.jp-relatedposts-headline,
div#jp-relatedposts .pique-template-testimonials .pique-testimonials article .entry-content cite.jp-relatedposts-headline,
.pique-template-testimonials .pique-testimonials article .entry-content
div#jp-relatedposts cite.jp-relatedposts-headline,
div#jp-relatedposts .site-branding .jp-relatedposts-headline.site-title,
.site-branding
div#jp-relatedposts .jp-relatedposts-headline.site-title,
div#jp-relatedposts .jp-relatedposts-headline.widget-title,
div.sharedaddy h3.sd-title,
div.sharedaddy blockquote cite.sd-title,
blockquote
div.sharedaddy cite.sd-title,
div.sharedaddy .pique-template-testimonials .pique-testimonials article .entry-content cite.sd-title,
.pique-template-testimonials .pique-testimonials article .entry-content
div.sharedaddy cite.sd-title,
div.sharedaddy .site-branding .sd-title.site-title,
.site-branding
div.sharedaddy .sd-title.site-title,
div.sharedaddy .sd-title.widget-title {
	font-family: Karla, Arial, sans-serif;
	font-size: 0.9rem !important;
	margin: 20px 0 0 !important;
}

/* Comment form */
#respond {
	padding-top: 10px;
}

#commentform {
	margin-top: -10px;
}

#commentform .logged-in-as,
#commentform .comment-notes {
	font-size: 16px;
	font-size: 1rem;
	font-style: italic;
}
#commentform .logged-in-as a,
#commentform .comment-notes a {
	color: #b0aaa2;
}

#form-allowed-tags {
	font-size: 14.4px;
	font-size: 0.9rem;
	font-style: italic;
}
#form-allowed-tags code {
	display: block;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-style: normal;
}

.comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.comment-list .children {
	border-left: 2px solid #83b6cc;
	list-style-type: none;
	margin-left: 0;
}

.comment-author .avatar {
	border-radius: 50%;
	float: left;
	height: 75px;
	margin: 0 0.5em 0 0;
	width: 75px;
}

.comment-author .fn {
	display: inline-block;
	font-size: 19.2px;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: normal;
	max-width: calc(100% - 100px - 0.5em);
	padding-top: 0.25em;
}

.comment-author .says {
	display: none;
}

/* Comment content */
.comment-metadata {
	color: #c3c3c3;
	font-family: Karla, Arial, sans-serif;
	font-size: 13.6px;
	font-size: 0.85rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.comment-content {
	clear: left;
	font-size: 0.9em;
}
.comment-content .comment-content a {
	word-wrap: break-word;
}

/* Reply to comment */
.reply {
	float: right;
}
.reply a {
	border: 1px solid;
	display: inline-block;
	font-family: Karla, Arial, sans-serif;
	font-size: 13.6px;
	font-size: 0.85rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	padding: 2px 5px;
	text-transform: uppercase;
}
.reply a:hover {
	color: #c3c3c3;
}

#cancel-comment-reply-link {
	color: darkgray;
}
#cancel-comment-reply-link::before {
	content: '(';
	display: inline;
}
#cancel-comment-reply-link::after {
	content: ')';
	display: inline;
}

/* Post author comments */
.bypostauthor {
	background-color: #e9d5c0;
}

/* Pingbacks */
.pingback,
.trackback {
	font-style: italic;
	margin: 1em 0;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-footer {
	font-family: Karla, Arial, sans-serif;
	width: 100%;
	z-index: 1000000;
}
#infinite-footer .container {
	width: 100%;
}
#infinite-footer #infinity-blog-title {
	font-weight: normal;
}

/* Center the loading graphic */
.infinite-loader {
	margin: 1.45em 46%;
}

.infinite-scroll #infinite-handle {
	display: block;
	text-align: center;
}
.infinite-scroll #infinite-handle span {
	background: transparent;
}
.infinite-scroll #infinite-handle button,
.infinite-scroll #infinite-handle .archive .read-more a,
.archive .read-more .infinite-scroll #infinite-handle a,
.infinite-scroll #infinite-handle
  .blog .read-more a,
.blog .read-more .infinite-scroll #infinite-handle a,
.infinite-scroll #infinite-handle
  .search-results .read-more a,
.search-results .read-more .infinite-scroll #infinite-handle a {
	color: #83b6cc;
	font-size: 19.2px;
	font-size: 1.2rem;
	font-style: italic;
	letter-spacing: 0;
	padding: 1em;
	text-transform: none;
}
.infinite-scroll #infinite-handle button::before,
.infinite-scroll #infinite-handle .archive .read-more a::before,
.archive .read-more .infinite-scroll #infinite-handle a::before,
.infinite-scroll #infinite-handle
    .blog .read-more a::before,
.blog .read-more .infinite-scroll #infinite-handle a::before,
.infinite-scroll #infinite-handle
    .search-results .read-more a::before,
.search-results .read-more .infinite-scroll #infinite-handle a::before {
	content: '';
	display: inline-block;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	margin-right: 10px;
	text-decoration: none;
	vertical-align: 2px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
.infinite-scroll #infinite-handle button:hover,
.infinite-scroll #infinite-handle .archive .read-more a:hover,
.archive .read-more .infinite-scroll #infinite-handle a:hover,
.infinite-scroll #infinite-handle
    .blog .read-more a:hover,
.blog .read-more .infinite-scroll #infinite-handle a:hover,
.infinite-scroll #infinite-handle
    .search-results .read-more a:hover,
.search-results .read-more .infinite-scroll #infinite-handle a:hover {
	color: #3c7993;
	font-size: 19.2px;
	font-size: 1.2rem;
	padding: 1em;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*='wp-image-'] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .wp-caption-text,
.wp-caption .tiled-gallery-caption {
	margin: 0.8075em 0;
}

.wp-caption-text,
.tiled-gallery-caption {
	font-style: italic;
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
figure {
	margin-left: auto;
	margin-right: auto;
}

.gallery,
.tiled-gallery {
	margin-bottom: 1.5em;
}

.entry-content .gallery a:hover,
.entry-content .tiled-gallery a:hover {
	border-bottom: none;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Tiled galleries */
.tiled-gallery-caption {
	text-shadow: none;
}

/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* min-width 1921px, xxlarge screens */

/*# sourceMappingURL=style.css.map */